<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>SAPP - Sistema de Avalia&ccedil;&atilde;o de Projetos de Pesquisa - C&oacute;digo de verifica&ccedil;&atilde;o</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <p>
                Seu c&oacute;digo de verifica&ccedil;&atilde;o é:
                &nbsp;<h4 style="color: blue;">%%codigo-verificacao%%</h4>
            </p>
        </div>
        <div>
            
            <p>
                <b>Observa&ccedil;&atilde;o:</b> Caso voc&ecir; n&atilde;o tenha solicitado essa informa&ccedil;&atilde;o, por favor ignore este e-mail.
            </p>
        </div>
        <div>
            <p>
                A Equipe <b>SAPP - Sistema de Avalia&ccedil;&atilde;o de Projetos de Pesquisa</b> agradece sua participa&ccedil;&atilde;o.
            </p>
        </div>
    </body>
</html>
