<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/Html.html to edit this template
-->
<html>
    <head>
        <title>SAPP - Sistema de Avalia&ccedil;&atilde;o de Projetos de Pesquisa - Convite a avaliador</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>
            <h2>%%nome-evento%%</h2>
        </div>
        <div>
            <p>
                Prezad%%artigo%%, %%nome-avaliador%%.
            </p>
            <p>
                &Eacute; com grande satisfa&ccedil;&atilde;o que vimos por meio desta informar que o nosso evento, 
                %%nome-evento%%, a ser realizada na institui&ccedil;&ati&atilde;o %%nome-instituicao%%, 
                sede %%nome-sede%%, acontecer&aacute; no per&&iacute;odo de <b>%%periodo-atividade-avaliacao%%</b>.
            </p>
            <p>Portanto, gostar&iacute;amos de convid&aacute;-l%%artigo%% a participar desse evento como avaliador de projetos.</p>
            <p>
                Caso aceite nosso convite, solicitamos que clique em: <a href="%%link-aceite-avaliador%%">Aceito!</a><br/>
                <span>Caso link n&atilde;o funcione, copie e cole o link a seguir: %%link-aceite-avaliador%%</span><br />
                Do contr&aacute;rio, pode clicar em <a href="%%link-nao-aceite-avaliador%%">N&atilde;o aceito, obrigado!</a>.
            </p>
            <p>
                O prazo para realizar a sua manifesta&ccedil;&atilde;o encerra no dia <b>%%data-manifestacao%%</b>.
            </p>
            <p>
                Sua participa&cc&ccedil;&ati&atilde;o faz diferen&ccedil;a na vida dos estudantes envolvidos nesse evento motivando-os
                a permanecerem nas escolas e a fazer ci&ecirc;ncia e tecnologia.
            </p>
        </div>
        <div>
            <p>
                Certo de sua compreens&atilde;o e de seu apoio, agradecemos sua participa&ccedil;&ati&atilde;o.
            </p>
            <p>
                Cordialmente,
            </p>
        </div>
        <div>
            <p>
                %%nome-coordenador-evento%%<br/>
                Coordenador do evento %%nome-evento%%
            </p>
        </div>
    </body>
</html>
